* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	font-size: 1em;
}


#content {
	padding: 60px 20px 20px 20px;
}


nav {
	background-color: #333;
	padding: 10px;
	position: fixed;
	width: 100%;
}
nav li {
	display: inline;
	margin-right: 25px;
}
nav li a {
	color: yellow;
	text-decoration: none;
}
nav li a:hover {
	color: red;
}


table {
	border-collapse: collapse;
}
table thead td {
	background-color: #777;
	color: white;
}
table td {
	border: 1px solid #ddd;
	vertical-align: top;
	padding: 2px 5px 5px 2px;
	background-color: #fcfcfc;
}
table tr:hover td {
	background-color: #ffa;
}

