* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	font-size: 1em;
}


#content {
	padding: 60px 20px 20px 20px;
}


/* navigation
*/
nav {
	background-color: #333;
	padding: 10px;
	position: fixed;
	width: 100%;
}
nav li {
	display: inline;
	margin-right: 25px;
}
nav li.active a {
	color: yellow;
}
nav li a {
	color: white;
	text-decoration: none;
}


/* tables
*/
table {
	border-collapse: collapse;
}
table thead td {
	background-color: #777;
	color: white;
}
table td {
	border: 1px solid #ddd;
	vertical-align: top;
	padding: 2px 5px 5px 2px;
	background-color: #fcfcfc;
}
table tr:hover td {
	background-color: #ffa;
	color: black;
}


/* forms
*/
label, input {
	display: block;
}
input[type="text"] {
	margin-bottom: 2em;
	width: 40em;
}
input[type="submit"], button {
	padding: 5px 10px;
}
label {
	color: #888;
}
textarea {
	width: 40em;
	height: 10em;
}
form .note {
	font-size: 9pt;
	color: red;
}
button a {
	text-decoration: none;
	color: black;
}


.count {
	float: right;
	padding-left: 20px;
	font-size: 11pt;
	color: #777;
}

